<div class="booyah-box col-10 offset-1">
  <h2><%= @piece.game.name %></h2>
</div>
<head>
    <meta charset="UTF-8">
</head>

<body>
  <div class="black">
    <%= "#{@piece.icon}" %>
  </div>
</body>
