@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.navbar{
  background: image_url('cartographer.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: darkgray;
  font-family: 'alex_brushregular';
  font-size: 30px;
}

body {
  background: image_url('background.jpg');
  background-size: cover;
}
.clear {
  clear: both;
}

.index-page {
  padding-left: 20px;
  background: image_url('index_background.jpg');
  background-size: cover;
}

.index-button {
  margin-right: 10px;
}

.chessboard {
  width: 650px;
  height: 650px;
  margin: 0 auto;
  border: 5px solid #333;
  float: none;
}

.col-centered{
   float: none;
   margin: 0 auto;
}

.square {
  float: left;
  width: 80px;
  height: 80px;
  font-size: 50px;
  text-align: center;
  display: table-cell;
}

.black {
  background-color: #999;
}

.white {
  background-color: #fff;
}

.selected {
  font-weight: bold;
  background-color: yellow;
}
